<div class="container-fluid footerContainer">
  <footer class="mainFooter">
    <div class="d-flex flex-column">
      <p>Gamle Gjerpen &copy; 2000 - {{ 'now' | date('Y')}}</p>
      <!-- <a class="footerMenu__link" href="mailto:post@gamlegjerpen.no">Send meg en epost!</a> -->
    </div>
    {% include 'partials/footerNav.twig' %}
    <a href="https://www.facebook.com/gamlegjerpen">
      <span class="visually-hidden">Gamle Gjerpen sin facebook</span>
      <img class="icon" src="{{ facebook_icon }}" alt=""></a>
  </footer>
</div>
  {{ function('wp_footer') }}
</body>
</html>