{#
/**
 * Block Name: Faktaboks
 *
 * This is the template that displays the example block.
 */
#}
<div class="faktaboks">
    {{ fields.title }}
</div>
<style>
    .faktaboks {
      background: #fc0;
      color: #000;
      padding: 1rem;
      border: 1px double #000;
      font-size: 0.82rem;
      margin: 1rem 0;
    }
    .faktaboks p {
      margin-bottom: 0;
    }
</style>