{#
/**
 * Block Name: Sist Oppdatert
 *
 * This is the template that displays the example block.
 */
#}
<p class="lastUpdate">Sist oppdatert {{ date }}</p>

<style>
  .lastUpdate {
    text-align: {{ block.align }};
  }
</style>