{% extends 'layouts/base.twig' %}

{% block content %}

  <main>
    <section class="container">
    <h1>Søkeresultat</h1>
    {% for post in posts %}
      <article class="searchResult col-md-8 px-0">
        <h2><a href="{{ post.link }}">{{post.title}}</a></h2>
        <p>{{ post.preview.length(30).read_more(false) }}</p>
      </article>
    {% endfor %}
    </section>
  </main>
{% endblock %}